/*reset code*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
h1 {
	margin-top: 35px;
	text-shadow: 1px 1px 4px gray;
}
.ul {
    list-style: none;
}
.fix:before, .fix:after{
    content: "";
    display: table;
    clear: both;
}
body{
    font-size: 14px;
    line-height: 22px;
	font-family: 'Roboto', sans-serif;
}
.area{
    width: 1000px;
    margin: 0 auto;
}
/*btm code*/
.btm {
	background-color: tomato;
	display: inline-block;
	text-decoration: none;
	text-transform: capitalize;
	padding: 10px;
	font-size: 20px;
	color: white;
	border-radius: 5px;
	margin-top: 15px;
    transition: .3s;
	text-shadow: 3px -2px 5px gray;
	box-shadow: 1px 2px 5px 0px gray;
}
.btm:hover{
    background-color: aqua;
	color: rebeccapurple;
}
/*header code*/
.header {
	background-color: #dddd;
	padding: 20px;
}
.logo {
	float: left;
	width: 91px;
	margin-right: 30px;
	margin-bottom: -6px;
}
.menu {
	float: right;
	width: 750px;
}
.menu ul {
	text-align: right;
	margin-top: -30px;
}
.menu ul li {
	display: inline-block;
	cursor: pointer;
}
.menu ul li a {
	color: #333;
	text-decoration: none;
	padding: 5px 20px;
	display: block;
	font-size: 20px;
	transition: .3s;
	text-transform: capitalize;
	cursor: pointer;
	box-shadow: 1px 1px 1px 1px gray;
	border-radius: 10px;
	margin: 5px;
	text-shadow: 2px 4px 4px gray;
}
.menu ul li a:hover{
    background-color: tomato;
    color: white;
	border: 2px solid rgb(255, 209, 4);
	border-radius: 10px;
}

/*services code*/

.titel h4 {
	text-align: center;
	text-transform: capitalize;
	font-size: 45px;
	margin: 70px 0;
	text-shadow: 3px 2px 5px gray;
	color: teal;
}
.single-service {
	background-color: teal;
	float: left;
	width: 323px;
	margin: 5px;
	padding: 20px;
	color: white;
	box-shadow: 10px 15px 15px -10px gray;
}
.single-service :last-child, .service-page .single-service :nth-child(4){
    margin-right: 0;
}
.service-page .single-service{
	width: 240px;
	margin-bottom: 20px;
}

.single-service h4 {
	text-align: center;
	font-size: 25px;
	margin-bottom: 20px;
	text-transform: capitalize;
}
/*About code*/
.about {
	padding: 60px 0;
}
.about-left {
	float: left;
	width: 700px;
	margin-right: 30px;
	margin-bottom: 90px;
}
.about-left h4 ,.about-menu h4{
	text-transform: capitalize;
	font-size: 34px;
	margin-bottom: 20px;
}

.about-menu {
	float: right;
	width: 223px;
}

.about-menu ul li {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	list-style: none;
	margin-left: 20px;
}
.about-menu ul li:last-child{
	border-bottom: 0;
}
.about-menu ul li a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	display:inline-block;
	transition: .3s;
	font-weight: bold;
}
.about-menu ul li :hover{
	color: tomato;
}
h3 {
	padding-bottom: 10px;
}
.experience h2 {
	margin-bottom: 40px;
	color: black;
	text-align: center;
	font-size: 50px;
	text-shadow: 2px 3px 4px gray;
}
.single-experience{
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    height: 300px;
    background-color:skyblue;
}
#full-stack {
	border-left: 7px solid;
	border-image: linear-gradient(180deg, tomato, red);
	border-image-slice: 1;
	float: left;
	width: 450px;
	margin-right: 20px;
	padding: 20px;
	font-size: 15px;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(aqua, rebeccapurple);
    border-image-slice: 1;
	float: right;
	width: 450px;
	padding: 20px;
	font-size: 15px;
}
.half-width p{
	margin-bottom: 10px;
}
/*Footer code*/
.footer {
	background-color: teal;
	margin-top: 300px;
	padding: 10px;
	text-align: center;
	color: white;
	text-transform: capitalize;
	font-size: 20px;
	margin-top: 340px;
}

/*page banner code*/
.page-banner {
	background-size: cover;
	background-position: center;
	padding: 130px 0;
}
h2 {
	color: white;
	text-align: center;
	font-size: 60px;
	text-transform: capitalize;
	padding: 20px;
	margin-bottom: 20px;
}
.color2 {
	font-size: 30px;
	color: white;
}
h4 {
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
}
/*gallery code*/
.single-gallery {
	float: left;
	width: 242px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.single-gallery iframe {
	width: 100%;
	border: 1px solid #ddd;
	padding: 10px;
}
#gallery4 {
	margin-right: 0;
}
#gallery8{
	margin-right: 0;
}
.work{

}
.work h2 {
	color: teal;
	margin: 50px;
	text-shadow: 3px 4px 5px gray;
}
.work img {
	width: 100%;
	float: left;
	width: 320px;
	margin-right: 20px;
	padding: 10px;
	border: 1px solid #ddd;
}
.work img:last-child{
	margin-right: 0;
}

/*contact code*/
.contact {
	padding: 40px 0;
}
.contact-form {
	float: left;
	width: 670px;
	margin-right: 30px;
}
.contact-form h4, .contact-address h4{
		text-transform: capitalize;
		font-size: 30px;
		margin-bottom: 20px;
}
.contact-form input {
	width: 100%;
	border: 1px solid#ddd;
	padding: 10px;
	margin-bottom: 10px;
}
.contact-form textarea {
	width: 100%;
	border: 1px solid#ddd;
	padding: 10px;
	height: 200px;
	margin-bottom: 10px;
}
.contact-form input[type="submit"] {
	background-color: tomato;
	text-transform: capitalize;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	width: auto;
	padding: 10px 31px;
	border-radius: 10px;
	transition: .3s;
}
.contact-form input[type="submit"]:hover{
	background-color: aqua;
	color: rebeccapurple;
}
.contact-address {
	float: right;
	width: 300px;
}

.contact-address ul li {
	list-style: none;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 20px;
}
.contact-address ul li span{
	font-weight: bold;
	color: teal;
}
.fa-solid.fa-location-dot {
	color: teal;
}
.fa-solid.fa-envelope {
	color: teal;
}
.fa-solid.fa-phone {
	color: teal;
}
.fa-solid.fa-earth-africa {
	color: teal;
}
.map{
	margin-top: 40px;
}
.map iframe {
	width: 100%;
	border: 1px solid #ddd;
	padding: 3px;
	height: 350px;
}







